.Logo {
  background-color: white;
  padding: 8px;
  height: 80%;
  /* To ensure the 80% height also includes the padding adjust the box-sizing*/
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo img {
  height: 100%;
}